/* edit-modal */

.edit-modal__wrapper {
    display: none;
}

.edit-modal__wrapper.js-edit-modal {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.40);
}

.edit-modal__top {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}

.edit-modal__title {
    margin: 0;
    font-size: 24px;
}

.edit-modal {
    padding: 16px 8px;
    display: block;
    position: absolute;
    width: 489px;
    z-index: 13;
    top: calc(50% - 244px);
    left: calc(50% - 238px);
    background: white;
}

.edit-modal__btn-close {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 10;
}

.edit-modal__btn-close span {
    position: absolute;
    width: 25px;
    height: 1px;
    left: 0;
    border-radius: 1px;
    background: #000;
    transition: transform .5s, opacity .5s;
}

.edit-modal__btn-close span:nth-child(1) {
    transform: rotate(45deg);
}

.edit-modal__btn-close span:nth-child(2) {
    transform: rotate(-45deg);
}

.edit-modal__form {
    margin-top: 24px;
    max-width: 442px;
}

.edit-modal__form-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.edit-modal__form-label {
    margin-bottom: 17px;
    font-size: 16px;
}

.edit-modal__form-input {
    color: #000;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #CED4DA;
}

.edit-modal__form-input::placeholder {
    color: #6C757D;
    font-size: 16px;
}

.edit-modal__btn {
    padding: 10px 20px;
    width: 100%;
}

